@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #111827; /* slate-900 */
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Типографика Markdown */
.prose {
  max-width: 100%;
}
.prose a {
  text-decoration: underline;
  text-underline-offset: 3px;
}
